/// Color
$black: #020920;
$white: #ffffff;

$gray-100: #e4e7ec;
$gray-200: #f5f5f5;
$gray-300: #e9ecef;
$gray-400: #98a2b3;
$gray-500: #667085;

$sky-blue: #0078b4;
$pink-light: #fae5eb;
$pink: #cd2f6f;
$green: #06951e;
$red: #d92d20;
$red-dark: #c2281d;
$purple: #44124b;
$sky-blue: #ecf2f8;
$blue: #0078b4;

$primary: $purple;
$secondary: $black;

$colors: (
  black: $black,
  white: $white,
  success: $green,
  danger: $red,
  green: $green,
  primary: $primary,
  secondary: $secondary,
  red-dark: $red-dark,
  transparent: transparent,
);

$breakpoint-tablet: 768px;

// ใช้ rem ใน css
$font-size-base: 16px;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-34: 2.125rem;
$font-size-36: 2.25rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
