.ant-layout-header {
    background: #fff;
}

// Icon

.icon-order-list {
    .anticon {
        font-size: 24px !important;
    }
}

.topbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.footer {
    height: 110px;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    background: #ffffff;
    box-shadow: 4px -4px 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

// Content
.box-content {
    background: #fff;
}

.all-categories {
    .ant-row {
        .ant-col {
            margin: 10px 0;
            cursor: pointer;
            div:nth-child(1) {
                &:hover, &.active {
                    color: #4096ff;
                }
            }
        }
    }
}

.ant-drawer-content-wrapper {
    border-radius: 20px !important;
    .ant-drawer-content {
        border-radius: 20px 20px 0 0 !important;
    }
}